{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="hero-full-container background-image-container white-text-container" style="background-image: url('static/images/space.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hero-full-wrapper">
          <div class="text-content">
            <h1>Hello,<br>
              <span id="typed-strings">
                <span>I'm Ephraim Efevwerhan,</span>
                <span>Mobile and Backend Developer,</span>
                <span>Working as a Freelancer.</span>
              </span>
              <span id="typed"></span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    type();
    movingBackgroundImage();
  });
</script>
{% endblock content %}