{% extends "dashbase.html" %}
{% load static %}

{% block content %}
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img src="{{work.work_image.url}}" class="img-responsive" alt="">
          <div class="card-container">
            <div class="text-center">
              <h1 class="h2">00{{work.work_number}} : {{work.name}}</h1>
            </div>
            <p>{{work.description}}</p>
  
            <blockquote>
              <p>{{review.review}}</p>
              <small class="pull-right">{{review.author}}</small>
            </blockquote>
          </div>
        </div>
  
        
        
        <div class="col-md-8 col-md-offset-2 section-container-spacer">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <img src="{% static "images/work001-02.jpg" %}" class="img-responsive" alt="">
              <p>Menphis skyline</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <img src="{% static "images/work001-03.jpg" %}" class="img-responsive" alt="">
              <p>Menphis skyline</p>
            </div>
          </div>
        </div>
  
        <div class="col-xs-12">
          <img src="{% static "images/work001-04.jpg" %}" class="img-responsive" alt="">
        </div>
  
      </div>
    </div>
</div>
  
  
  
<script>
document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
});
</script>
{% endblock content %}